body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

#sideContainer{
  width: 20%;
  height: 100%;
  background: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#containersWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%
}

.twoContainers {
  height: 50%;
  width: 100%;
}

#weatherContainer{
  background: white;
  border: 2px solid black;
  display:flex;
  flex-direction: column;
}

#uvIndex {
  padding: 3px;
  border-radius: 3px;
  width: 100px;
  text-align: center;
}

#forecastContainer {
  background: white;
  display: flex;
  border: 2px solid black;
  flex-direction: column;
}

#titleContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
}

#cardsContainer {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.previous {
  border: 2px solid black;
  width: 75%;
  font-size: 1.2rem;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
}