body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#mainContainer {
  width: 100%;
  height: 100%;
  background: green;
  display: flex;
}

#sideContainer{
  width: 20%;
  height: 100%;
  background: red;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#containersWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%
}

.twoContainers {
  height: 50%;
  width: 100%;
}

#weatherContainer{
  background-color: orange;
  display:flex;
  flex-direction: column;
}

#uvIndex {
  padding: 3px;
  border-radius: 3px;
  width: 100px;
  text-align: center;
}

#forecastContainer {
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

#titleContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

#cardsContainer {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
